<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quora-Edit</title>
</head>
<body>
    <h2>Edit your content</h2><br>
    <h4>Post Id = <%= post.id %></h4><br>
    <h4>Post Username = @<%= post.username %></h4><br>

    <form method="post" action="/posts/<%=post.id%>?_method=PATCH">
        <textarea rows="10" cols="35" name="content"><%= post.content %></textarea> 
        <button>Submit</button>
    </form>
</body>
</html>