<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quora</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Detailed Content of post having id= <%= post.id %> </h1>
    <div id="post">
        <h3 id="user">@<%= post.username %></h3>
        <p id="content"><%= post.content %></p>
    </div>
</body>
</html>